################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/BE-LosQuebrachosApp/bin/Debug/net6.0
/BE-LosQuebrachosApp/obj
